<div class="main-recipes">
 <div class="extended-wrapper carousel-container">
  <img src="../../assets/img/Arrow left circle fill · Bootstrap Icons.htm" class="arrows" alt="">
  
  <ul class="carousel">
   <li>
    <img class="main-img" src="../../assets/img/food-photographer-jennifer-pallian-6S27S6pZ6o0-unsplash-1200x1800.jpg" alt="">
   </li>
   <li>
     <img class="main-img" src="../../assets/img/monika-grabkowska-648019-unsplash-small-1200x1800.jpg" alt="">
    </li>
  </ul>

  <img src="../../assets/img/Arrow right circle fill · Bootstrap Icons.htm" class="arrows" alt="">

 </div>
</div>
