body {
grid-template-areas:
  "recipes";
}

.container {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-rows: auto;
 // background-color: red;
 border-radius: 10px;
 padding: 1em;
 justify-self: center;
 justify-content: center;
 justify-items: center;
 color: black;
}

.img-place {
 padding: 1em;
 justify-self: center;
}

.container-emoji {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: auto;
 justify-content: center;
 justify-items: center;
 color: black;
 // background-color: yellow;
}

.emoji {
 color: red;
 font-size: 3em;
 padding-left: 0.25em;
 padding-right: 0.25em;
}

.recipe-block {
 display: grid;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: repeat(3, auto);
 grid-template-rows: repeat(2, auto);
 border-radius: 10px;
 padding: 1em;
 // background-color: blue;
 grid-area: recipes;
  .recipe-img {
   display: grid;
   border-radius: 10px;
   padding: 2em;
   justify-self: center;
   justify-content: center;
   justify-items: center;
   
   .recipe-img-place {
     padding: 1em;
     justify-self: center;
     width: 80%;
    }
    
    .img-text {
     color: black;
    }
  }
}

h2 {
 padding-top: 2em;
}

@media only screen and (max-width: 500px) {
 .recipe-block {
   grid-template-columns: auto;
   grid-template-rows: auto;
 }
}