@import "../styles.scss";

.navbar-brand {
 padding: 0.5em;
 font-size: 24px;
 letter-spacing: 2px;

  .nav-text {
   padding-left: 1em;
  }

 .fas {
  padding-left: 0.5em;
 }
}

.nav-link {
 padding: 1em;
 margin-right: 0.5em;
 font-size: 20px;
 letter-spacing: 2px;
}

.container-footer{
 footer {
  align-content: center;
  justify-content: center;
  display: flex;
  .footer-icon {
   color: color(secondary);
   padding: 0.8em;
  }

  .footer-text {
   color: color(secondary);
   text-decoration: none;
   padding-top: 1.1em;
   font-size: 16px;
   letter-spacing: 2px;
  }
}
  }
