<div class="container">
  <h2>Modify a Recipe</h2>
</div>
  <div class="form-container needs-validation" *ngIf="recipes" nonvalidate>
    <div class="mb-3">
      <label for="validationCustom01" class="form-label" >Name</label>
      <input #recipeName type="text" class="form-control" id="validationCustom01" value="{{ recipes.recipeName }}" required>
    </div>
    <div class="mb-3">
      <label for="validationCustom02" class="form-label" required>Difficulty</label>
      <input #difficulty type="text" class="form-control" id="validationCustom02" value="{{ recipes.difficulty }}" required>
    </div>
    <div class="mb-3">
      <label for="validationCustom03" class="form-label" required>Prep Time</label>
      <input #prepTime type="text" class="form-control" id="validationCustom03" value="{{ recipes.prepTime }}" required>
    </div>
    <div class="mb-3">
      <label  for="validationCustom04" class="form-label" required>Cooking Time</label>
      <input #cookTime type="text" class="form-control" id="validationCustom04" value="{{ recipes.cookTime }}" required>
    </div>
    <div class="mb-3">
        <label for="validationCustom05" class="form-label" required>Ingredients</label>
        <textarea #ingredients name="" class="form-control" id="validationCustom05" cols="90" rows="10" value="{{ recipes.ingredients }}" required></textarea>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 1</label>
        <textarea #step1 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step1 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 2</label>
        <textarea #step2 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step2 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 3</label>
        <textarea #step3 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step3 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 4</label>
        <textarea #step4 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step4 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 5</label>
        <textarea #step5 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step5 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 6</label>
        <textarea #step6 name="" iclass="form-control"  d="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step6 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 7</label>
        <textarea #step7 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step7 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 8</label>
        <textarea #step8 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step8 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 9</label>
        <textarea #step9 name="" class="form-control" id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step9 }}"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Step 10</label>
        <textarea #step10 name="" class="form-control"  id="exampleFormControlTextarea1" cols="90" rows="7" value="{{ recipes.step10 }}"></textarea>
      </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image URL</label>
      <input #imgURL type="text" class="form-control" value="{{ recipes.imgURL }}">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Video URL</label>
      <input #videoURL type="text" class="form-control" value="{{ recipes.videoURL }}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" required>Additional Links</label>
        <textarea #additionalLinks name="" class="form-control" cols="90" rows="5" value="{{ recipes.additionalLinks }}"></textarea>
      </div>
    <div class="mb-3">
      <label for="validationCustom06" class="form-label" required>Tags</label>
      <input #tags type="text" class="form-control" id="validationCustom06" value="{{ recipes.tags }}" required>
    </div>
    <div class="button">
      <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateRecipe(recipes._id, recipeName.value, difficulty.value, prepTime.value, cookTime.value, ingredients.value, step1.value, step2.value, step3.value, step4.value, step5.value, step6.value, step7.value, step8.value, step9.value, step10.value, imgURL.value, videoURL.value, additionalLinks.value, tags.value)">Modify Recipe</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recipe for {{ recipes.recipeName }} has been modified</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modifyAnother()">Modify another recipe</button>
          <button type="button" class="btn btn-success" (click)="goHome()">Home</button>
        </div>
      </div>
    </div>
  </div>

    </div>
    </div>

