.home-wrapper {
 background: url('../../../assets/img/img_1.jpeg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 display: block;
 position: relative;
 max-width:100%;
 height:auto;


 .main-text {
  padding-top: 325px;
  padding-bottom: 0.25em;
  padding-left: 4em;
  margin: 0;
 }

 .sub-text {
  padding-top: 20px;
  padding-left: 4em;
  margin: 0;
 }

}

.home-wrapper::before {
 content: " ";
 position: absolute;
 left: 9.5%;
 top: 290px;
 height: 100px;
 width: 40%;
 border-bottom: 3px solid rgb(159, 0, 0);
}

/* =================== start of animated text slider in home =================== */
.slide-content {
	width: 100vw;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
 margin-left: -33.5%;
 margin-top: -5%;
 padding-top: 9.5%;
 padding-bottom: 15%;
}
.slider-wrapper {
	font-size: 40px;
	color:#aaa;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
 justify-content: center;
}
.slider{
	height: 90px;
	padding-left:15px;
 overflow: hidden;
}
.slider div {
	color:#fff;
	height: 50px;
	margin-bottom: 50px;
	padding: 7px 15px;
	text-align: left;
	box-sizing: border-box;
}
.slider-text1 {
	animation: slide 5s linear infinite;
}

@keyframes slide {
	0% {margin-top:-300px;}
	5% {margin-top:-200px;}
	33% {margin-top:-200px;}
	38% {margin-top:-100px;}
	66% {margin-top:-100px;}
	71% {margin-top:0px;}
	100% {margin-top:0px;}
}
