@import "../../../styles.scss";

.col {
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.btn-modify {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 65%;
}

.btn-delete {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 3%;
}

.card-text {
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 30px;
}

h4 {
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 40px;
}
