@import "../../../styles.scss";

.col {
  padding: 4em;
}

.btn-modify {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 20%;
}

.btn-delete {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30%;
}
