<div class="container">
  <h1>your favourite recipes</h1>
</div>

<div class="container">
 <h4>made with ❤️ by Daddy ... and now made by you 😎</h4>
</div>

<div class="carousel">
<ngb-carousel *ngIf="recipes" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let recipe of recipes">
      <div class="picsum-img-wrapper">
      <a href="/recipe-page/{{ recipe._id }}"routerLink="/recipe-page/{{ recipe._id }}" target="_blank">
          <img [src]=recipe.imgURL alt="Random slide">
        </a>
      </div>
      <div class="carousel-caption">
      <h3>{{ recipe.recipeName }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <hr>
</div>

<div class="container">
  <h2>new recipes</h2>
  <h4>"yum yum yum"</h4>
</div>

<div class="recipe-block">

 <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

  <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

  <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

  <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

  <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

  <div class="recipe-img">
   <img class="recipe-img-place" src="../../../assets/img/103272817_2654442921451221_1607034565752092947_n-600x600.jpg" style="max-width:100%;height:auto;" alt="">
   <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae optio sint voluptates porro tenetur sequi, ratione dolore expedita possimus?</p>
  </div>

</div>
