@import "../../../styles.scss";

body {
grid-template-areas:
  "recipes";
}

.container {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-rows: auto;
//  background-color: red;
 border-radius: 10px;
 padding: 1em;
 justify-self: center;
 justify-content: center;
 justify-items: center;
 color: color(secondary);
}

.container-img {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-rows: auto;
//  background-color: green;
 border-radius: 10px;
 padding: 1em;
 justify-self: center;
 justify-content: center;
 justify-items: center;
 color: color(secondary);

 .img-place {
  padding: 1em;
  justify-self: center;
  width: 100%;
  border-style: solid;
  border-color: rgba(27, 102, 160, 0.2);
  border-radius: 16px;
 }

img {
 width: 100%;
}

 .main-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: color(secondary);
  font-weight: bold;
  background:rgba(255,255,255,0.5);
  padding: 8em;
   }
}

.overlay-text {
 color: color(secondary);
 text-decoration: none;
}


.container-emoji {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-columns: repeat(4, auto);
 grid-template-rows: auto;
 justify-content: center;
 justify-items: center;
 color: color(secondary);
 // background-color: yellow;
}

.emoji {
 color: color(heart-emoji);
 font-size: 3em;
 padding-left: 0.25em;
 padding-right: 0.25em;
}

.recipe-block {
 display: grid;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: repeat(3, auto);
 grid-template-rows: repeat(2, auto);
 border-radius: 10px;
 padding: 1em;
 // background-color: blue;
 grid-area: recipes;
  .recipe-img {
   display: grid;
   border-radius: 10px;
   padding: 2em;
   justify-self: center;
   justify-content: center;
   justify-items: center;

   .recipe-img-place {
     padding: 1em;
     justify-self: center;
     width: 80%;
    }

    .img-text {
     color: color(secondary);
    }
  }
}

h2 {
 padding-top: 2em;
}

@media only screen and (max-width: 500px) {
 .recipe-block {
   grid-template-columns: auto;
   grid-template-rows: auto;
 }
}
