@import "../../../styles.scss";

body {
grid-template-areas:
  "recipes";
}

.container {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
//  background-color: red;
 border-radius: 10px;
 padding: 1em;
 justify-self: center;
 justify-content: center;
 justify-items: center;
 color: color(secondary);

  h1 {
    letter-spacing: 2px;
  }

  h2 {
    letter-spacing: 2px;
  }

  h3 {
    letter-spacing: 2px;
  }

  h4 {
    letter-spacing: 2px;
  }

  h6 {
    letter-spacing: 2px;
  }
}

.container-recipes {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
 //  background-color: red;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  color: color(secondary);
  margin-top: -5%;

  h2 {
    letter-spacing: 2px;
  }

  h4 {
    letter-spacing: 2px;
  }
}

.carousel {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto;
  padding: 1em;
  justify-self: center;
  justify-content: center;
  width: 100%;

    .picsum-img-wrapper {
      border-radius: 100px;
    }

    h3 {
      color: #fff;
      font-size: 35px;
      line-height: 1.5em;
      text-shadow: 2px 2px 2px #000;
      text-align: center;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      letter-spacing: 2px;
    }

    p {
      color: color(secondary);
      color: #fff;
      font-size: 15px;
      line-height: 1.5em;
      text-shadow: 2px 2px 2px #000;
      text-align: center;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

    }
}

.container-img {
 display: grid;
 justify-items: center;
 align-items: center;
 grid-template-rows: auto;
 background-color: green;
 border-radius: 10px;
 padding: 1em;
 justify-self: center;
 justify-content: center;
 justify-items: center;
 color: color(secondary);

 .img-place {
  padding: 1em;
  justify-self: center;
  border-style: solid;
  border-color: rgba(27, 102, 160, 0.2);
  border-radius: 16px;
 }

img {
 width: 100%;
}

 .main-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: color(secondary);
  font-weight: bold;
  background:rgba(255,255,255,0.5);
  padding: 8em;
   }
}

.overlay-text {
 color: color(secondary);
 text-decoration: none;
}

.recipe-block {
 display: grid;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: repeat(3, auto);
 grid-template-rows: repeat(2, auto);
 border-radius: 10px;
 padding: 1em;
//  background-color: blue;
 grid-area: recipes;
  .recipe-img {
   display: grid;
   border-radius: 10px;
   padding: 2em;
   justify-self: center;
   justify-content: center;
   justify-items: center;

   .recipe-img-place {
     padding: 1em;
     justify-self: center;
     width: 80%;
    }

    .img-text {
     color: color(secondary);
     text-align: center;
     width: 75%;
    }
  }
}

h2 {
 padding-top: 2em;
}

@media only screen and (max-width: 500px) {
  .container {
    font-size: 8px;

    h4 {
      font-size: 16px;
    }
  }
  .recipe-block {
   grid-template-columns: auto;
   grid-template-rows: auto;
 }

 .container-img {
   .main-img-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: color(secondary);
    font-weight: bold;
    background:rgba(255,255,255,0.5);
    padding: 5em;
    justify-self: center;
    justify-content: center;
    justify-items: center;
     }
 }
 .overlay-text {
  color: color(secondary);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  }
}
