@import "../../../styles.scss";

.container {
  display: grid;
  // background-color: blue;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  // background-color: yellow;
  color: color(secondary);
  margin: auto;
  justify-content: center;
  text-align: left;
  margin-top: 3rem;
  width: 90%;
  border-style: solid;
  border-color: rgba(27, 102, 160, 0.2);
  border-radius: 16px;
  padding: 1rem;
}

.recipe-text {
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .container {
    display: grid;
    // background-color: blue;
    grid-template-columns: auto;
 }
}
