<div class="container-fluid">
  <div class="home-wrapper">
    <h1 class="main-text">Daddy's</h1>
    <h1 class="sub-text">Home Cooking</h1>


<!-- ------------- Start of animated text slider -------------         -->

<div class="slide-content">
  <div class="slide-wrapper">
    <div class="slider">
        <div class="slider-text1 title3">
            <h2>Feelin' Hungry?</h2>
        </div>  
        <div class="slider-text2 title3">
            <h2>It's Feedin' Time</h2>
        </div> 
        <div class="slider-text3 title3">
            <h2>Affa Fine ta!!!</h2>
        </div> 
    </div>
  </div>
  </div>
  
  <!-- ------------- End of animated text slider -------------         -->
 </div>
</div>